<section id="{{ sectionId }}" translate="label" sortOrder="{{ sortOrder }}" showInDefault="1" showInWebsite="1" showInStore="1">
    <label>{{ label }}</label>
    <tab>{{ tab }}</tab>
    <resource>{{ resource }}</resource>
    {{> groupsContent }}
</section>